{% extends "index.html" %}
{% block title %}
Users profile 
{% endblock %}
<style>
h2{
   
}
img{

  
  padding:5px;
  align:30px;
}
.x{
  background-color:#fff;
}
.pfp{
  display:flex;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}
.container{
    display:flex;

    justify-content:center;
}

</style>
{% block content %}
<div class="container" style="padding:40px 0;">
<div class='card' id="card" style="border-color:#17181A; background-color:#fff; width:70%;">
<div class="card-body">
<h1 class="bruh2">{{username}}'s profile</h1>
<br>
<h2 style="align-right:30px;">{{email}}</h2>


<img src="{{pfp}}" height="100" width="100">

<form method="POST">
<input
type="file"
name="pfp"
class="pfp"

>

<button type="submit" class="btn btn-primary">Click here
</button>
</form>


<a onclick='vv()' class='nav-link'>
<button type="button" class="btn btn-primary" id='hello2'>Click at your own risk</button>
</a>

<a  class="nav-link" onclick='account()'>
<button type="submit">
Delete account
</button>
</a>





</div>
</div>
</div>

{% endblock %}