{% extends "index.html" %}
{% block title %}
User page
{% endblock %}

<style>

.card{
    
}
.wuwu{
    width:50%;
    height:100%;
}
div img{
    border-radius:50%;
}
.bruh22 div{
    display:flex;
    margin-left:auto;
    margin-right:100px;
    justify-content:right;
    background-color:#0D1117;

}
form input{
    width:100px;
    height:5px;
    border:none;
}

    </style>



   
{% block content %}




    <h3  style="text-align:center;  padding:40px; ">Welcome, {{username}} </h3>


    
    <div class='card'  id="bruh22" style='background-color:#fff; border-color:#7E7E7E; width:20%; height:100px; display:flex; margin-left:auto; margin-right:100px;'>
    <div class="card-body">
    <img src="/static/images/night.png" height='40' width='40'>
    <a class='nav-link'  onclick='vv()' id='hello2'>
    <p class='bruh' style='color:#7E7E7E;'>Dark mode ;)</p>
        </a>
        
    </div>
    </div>
   

    
    

    
 
    
<hr />
<form method="POST">

<input
class='data1'
name='data1'
id='data1'
type='input'
style=' border:none; outline:none; border-bottom: 1px solid #7E7E7E; margin-right:25px; margin-left:auto;'

>
<button  type='submit' class='btn btn-primary' id='nnn' style='display:flex; margin-left:auto; margin-right:70px;'>
Create post
</button>
</form>
<hr />
{% for i in x1 %}
    {{x1}}
    <hr />
    {% endfor %}

{% endblock %}






