<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 <link rel="shortcut icon" href="/myicon.ico">
</head>
<style>


body {
  color:#7ecfd4;
}
body h1 .bruh{
  text-align:center;
}
body h1 .bruh2{
  text-align:center;
}
body h3 
.alert{
  color:#fff;
  background-color:#ED2939;
  border-radius:0%;
  
  
  
}

div button{
  color:#ED2939;
  border-color:#ED2939;
  border-radius:50%;
  
}
.alert2{
  color:#fff;
  background-color:#9ccc9c;
  border-radius:100%;
  
}
.button2{
  color:#9ccc9c;
  border-color:#9ccc9c;
  border-radius:50%;
  
}

.navbar navbar-expand-lg{
  background-color:#fff;
}


li .x{
  display:flex;
  align-text:right;
}
.logo-img{
  display:flex;
  margin-left:50px;
  margin-right:auto;

  
}
.n{
  display: flex;
  margin-left: auto;
  margin-right: 100px;
 
  
}
div .img{
  display:flex;
  margin-left:auto;
  margin-right:200px;
}
div .img img{
  border-radius:70%;
}
</style>

<title>
{% block title %}
{% endblock %}
</title>
<body id='bc'>
        <meta name="theme-color" content="#4285f4">
<!--NAVBAR-->
        <body style="background-color:#fff;">
        <nav class="navbar navbar-expand-lg" id="nav" style="background-color:#F2F3F4; height:60px;">
        
        
        
        <div class="navbar">
        </div>
        
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
         
            
           
      
              <a class='nav-link' href='/user' id='xx'>
              <img src='/static/images/h2.png' height="40" width="40">
              </a>
              <a class='nav-link' href="/user/new-post" id="pic">
              <img src="/static/images/default.jpg" height="40" width="40">
              </a>
              
            
              <a class="nav-link" href="/logout"style="color:#212529;">Log out</a>
              {% if user not in main %}
              
               
                
                <div class="img">
                <a href="/user/{{username}}" class="nav-link">
                  <img src="/static/images/{{pfp}}" height="40" width="70">
                 </div>
                    </a>
                  {% endif %}
            {% else %}
          
           
            
              <a href="/" class='nav-item'>
                <div class="logo-img">
                
                  <img src="/static/images/h2.png" height="50" width="50">
                
                  </div>
                    </a>
            
              
                  
                <li class='n'>
             <div class='view overlay'>
                <a class="btn btn-primary" aria-current="page" href="/login" style="color:#212529;">Login</a>
                </div>
              
                </li>
              <script src="https://apis.google.com/js/platform.js" async defer></script>
                <div type='submit' class="g-signin2" data-onsuccess="onSignIn">hello</div>
             
            {% endif %}
               

       
            
        
            </form>
            </div>
        </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
             messages %} {% for category, message in messages %} 
             {% if category =='error' %}
             
    <div class="alert" role="alert">
      {{ message }}
      <a class="close" data-dismiss="alert" aria-label="close">
      <button type="button" class="submit">
        <span aria-hidden="true">&times;</span>
      </button>
      </a>
    </div>
    
    {% else %}
    <div class="alert alert-success" role="alert2" style="background-color:#9ccc9c;">
      {{ message }}
      <a class="close" data-dismiss="alert" aria-label="close">
      <button type="button"   class="button2">
        <span aria-hidden="true">&times;</span>
      </button>
      </a>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
{% block content %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="main.js"></script>
<br/>
<script>



var color;


    function vv(){
       if (localStorage.getItem('color') == '#fff') {
            var xx = document.body.style.backgroundColor = '0D1117';
            var styles = {
          "background-color": "#0D1117",
          "borderColor": "#808080",
          "width": "400px; ",
          "height": "300px"
        };
            var n = document.getElementById('table-1');
            Object.assign(n.style, styles);
            console.log(xx);
            localStorage.setItem('color', '#0D1117');
        }else if(localStorage.getItem('color') == '#0D1117'){
            document.body.style.backgroundColor =  "#fff";
            var styles = {
            "background-color": "#fff",
            "borderColor": "#7E7E7E",
            "width": "400px; ",
            "height": "300px"
        };
            var n = document.getElementById('table-1');
            var xx = document.getElementById('hello2');
            
            
            var v = localStorage.setItem('color', "#fff");
            localStorage.setItem(n,styles);
            localStorage.setItem(xx,styles);
            console.log(v);
        }
    }
 
function account(){
    var n = alert('This will delete your account');
    console.log(n);
    
    }



    

      


function image(){
      x = document.body.style.backgroundColor = '#0D1117';
      localStorage.setItem(x,x)

}}


</script>

</body>
 









</html>


