{% extends "index.html"%}
{% block title %}Website -->{% endblock %}
{% block content %}
<link rel="stylesheet" href="css/main.css">
<head>
    <style>
    h1{
      color:#87ceeb;
      font-family:;
      padding:60px;
    }
    body{
        background-image: url("https://images.ctfassets.net/hrltx12pl8hq/4plHDVeTkWuFMihxQnzBSb/aea2f06d675c3d710d095306e377382f/shutterstock_554314555_copy.jpg");
    }
    img{
      margin-right:50px;
    }
    p{
      text-align:center;
      
    }
    </style>
</head>   


<h1>Welcome to uh </h1>
<img src="/static/images/name.jpg">

<p>
Hello
</p>
{% endblock %}
